@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Roboto&display=swap');

body {
    font-family: 'Lora', serif;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: lightgray;
    background-color: burlywood;
}

h1 {
    color: goldenrod;
    padding: 5px;
    background-color: black;
    text-align: center;
    border-radius: 10px;
}

h4 {
    color: goldenrod;
    padding: 5px;
    background-color: black;
    text-align: center;
    border-radius: 10px;
}

img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

#img-barbecue {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.main-background {
    padding: 10px;
    background-color: black;
    border-radius: 10px;
}

.recipes-background {
    padding-top: 0.1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1.5em;
    background-color: black;
    border-radius: 10px;
}

.bullet {
    list-style-type: square;
}

a {    
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 5px;
    border: solid 3px goldenrod;
    border-radius: 5px;
    font-style:oblique;

}
